# Видеофайлы
*.mp4
*.avi
*.mkv
*.gif

# Субтитры (генерируются скриптом)
subtitles.srt

# Python кэш
__pycache__/
*.pyc
*.pyo
.venv/

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store

# PyCharm
.idea/

